@import '../stylesheets/variables';

#home-page {
	height: 100vh;
	min-height: 100vh;

	> .row {
		height: 100%;
		margin: 0;
	}

	#home-main, #home-side {
		height: 100%;
	}

	#home-main {
		.dark();
	}

	#home-side {
		.light();
	}
}

