@import '../stylesheets/variables';
@import '../stylesheets/main';

#rtfm-page {
	height: 100vh;

	> .row {
		height: 100%;
		margin: 0;
	}

	#rtfm-main, #rtfm-side {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#rtfm-main {
		.dark();

		#answer {
			font-size: 80vh;
		}
	}

	#rtfm-side {
		.light();
		max-height: 100%;
		overflow-y: auto;
	}

	.hide {
		display: none;
	}

	#back {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.5em;
	}

	#back a {
		color: @base00;
	}
}
