@import '../stylesheets/variables';

#intro-component {
	.dark();

	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	#morph-section {
		font-family: monospace;
		color: #fff;
	}
}