<template name="rtfmModal">
	<div id="rtfm-modal" class="modal">
		<div class="modal-content">
			<h4>Connexion / inscription</h4>
			<p class="flow-text">Entrez un pseudo existant ou bien un nouveau pseudo
				<small>(et ça fonctionne aussi avec l’email)</small>
				.
			</p>
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="user" type="text" class="validate">
							<label for="user">Pseudonyme ou email</label>
						</div>
					</div>
					{{#if isLoggingin}}
						<div class="row">
							<div class="input-field col s12">
								<input id="password" type="password" class="validate">
								<label for="password">Mot de passe</label>
							</div>
						</div>
					{{/if}}
					{{#if isRegestering}}
						<div class="row">
							<div class="input-field col s12">
								<input id="password" type="password" class="validate">
								<label for="password">Mot de passe</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input id="password2" type="password" class="validate">
								<label for="password2">Répéter le mot de passe</label>
							</div>
						</div>
					{{/if}}
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
		</div>
	</div>
</template>